.root {
    height: 7vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navItems {
    .navItem {
        display: inline-block;
        margin: 0 1rem;
    }
}

.user {
    display: flex;
    align-items: center;

    img {
        width: 5vh;
        height: 5vh;
    }

    & > * {
        margin: 0 0.5rem;
    }
}
