@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100;400;700;800&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: 'Lexend', sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}
